
@font-face {
  font-family: 'Blonde'; 
  src: url('./fonts/Blonde_Font.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap; 
}

@font-face {
    font-family: 'Futura';
    src: url('./fonts/futura-pt.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('./fonts/futura Bold Oblique.otf') format('opentype');
    font-weight: bold;
    font-style: oblique;
    font-display: swap;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.logo {
    max-width: 5%;
    height: auto;
}

#socials {
    display: flex;
    flex:1;
    justify-content: flex-start;
}

#name-title {
    display: flex;
    flex:1;
    justify-content: center;
    font-size: 14px;
    font-family: 'Futura';
    font-weight: bold;
    font-style: oblique;
}

#theme-mode {
    flex:1;
    display:flex;
    justify-content: flex-end;
}

#open {
    position:fixed;
    inset:0;
    z-index:10;
    background-color:white;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fade-in-enter {
    opacity: 0;
}

.fade-in-enter-active {
    opacity:1; 
    transition: opacity 1700ms ease-in;
}
.just-text {
    font-family: 'Blonde', sans-serif;
    font-size: 48px;
    line-height:1.5;
}

.fade-exit {
    opacity:100%;
}

.fade-exit-active {
    opacity:0%;
    transition: opacity 1200ms;
}

