
@font-face {
  font-family: 'Blonde'; 
  src: url('./fonts/Blonde_Font.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap; 
}


#open {
    position:fixed;
    inset:0;
    z-index:10;
    background-color:white;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fade-in-enter {
    opacity: 0;
}

.fade-in-enter-active {
    opacity:1; 
    transition: opacity 1700ms ease-in;
}
.just-text {
    font-family: 'Blonde', sans-serif;
    font-size: 48px;
    line-height:1.5;
}

.fade-exit {
    opacity:100%;
}

.fade-exit-active {
    opacity:0%;
    transition: opacity 1200ms;
}

